<div class="main-beer">
    <img src="/images/beer.png" alt="Beer image">
    <div class="btns">
        <div>
        <button class="top-btn">
            <a href="/beers">Check the Beers!</a>
        </button>
        </div>
        <div>
        <button>
            <a href="/random-beers">
            Check a random Beer!
            </a>
        </button>
        </div>

    </div>
    
</div>